language: objective-c

before_install:
  - sudo easy_install cpp-coveralls
  - brew install lcov

script:
  - xctool test -scheme CoveritExample -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES
after_script:
  # - sudo ln -s `pwd` /coverit-ios-example
  # - cat coverage.info | coveralls
  - ./coverit report -d ~/Library/Developer/Xcode/DerivedData/ -o coverage.info
  - sudo ln -s `pwd` /coverit-ios-example
  - cat coverage.info
  - cat coverage.info | coveralls

notifications:
  slack:
    secure: DFjVkOC52gNiHcmLhQzcN8bzxpCaDVZYf7WC4uqPj66vWeGPH7yEjEQ4aL79MHVkqZcyS8Gza1XuLxjDGztUznEe5Pc+83DtcJ8a7Tmv/nYI3v5fkDEWZc2XiOPNCybCz3DlOD1MlhNAkz7mfoQv92VlROXTd0YDMUq3/j60HYsyPaE4qq2yKVrJzct/omt/Pd4WahKXjPXPnfl5m8eEde+r+YQsOwjmSW1+JcM16oOTvfpAbYBbuKEZ3rLqyYHYHefjOfxnTH9Ut99UyjkNtnrpD1ug8/oPmdy6rAHqZvyAPWrQk2NRrMbvD5mxwff1GcdmqmUyOplvcviZAJhezNWZt4MnNv+LRGFmyGtdgQjdauYjdGsS2kHg8j4qQ1wNnW2nMvp1rOuYDAs41MYKLuJWOSCIWO0OcsKH4SOFB7epQ0ykH+tFvc/sQYwhcmSt7dnu0vTFpXlJBXWmgcJdF0Z7W62KXIDFOEOZXxr3MsWk030mu46yT95ysIbqxujuboXLkzf2jfh9Btxt24XyjM255CuS9e0yiCqzd/lN/Gjbm5MuD+UNwdGcl3mm5633opmq/YrMEbwNo7zCbOZ3d9xMK/Ws1L0NoOcBJFeFOg6aV0HyjEkGKy1cVgoJHWNhQEdBEk400Qdeo9HgfcmDMkOX2W+HtAT3HWZRSuiDbj4=
